@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
*{
    font-family:'Quicksand',sans-serif;
    padding :0;
    margin:0;  
    box-sizing: border-box;
}

header{
    display:inline;
}
nav{       
    padding:12px 0;
    background-color:#76b39d;    
    width:100%;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);  
    position:sticky !important;
    top:0; 
    z-index: 99;
}
nav a{
    color:#fff;
    text-decoration: none;
}

 nav  a img{    
     display:inline-block;
     padding-left:60px;
     width:100px;
    
} nav ul {
    text-align:center;
    float: right;
    padding-right:80px;
   
}
nav ul li {
    display:inline-block;
}
nav ul li a{
    padding:12px 5px;
    display:inline-block;
}
nav ul li a:hover{
    border:none;
    border-radius:5px;
    font-weight: bold;
    Background-color:#155e63;
    color: #fff;
}
 .mobile-menu {
    padding:5px;
    padding-right: 25px;
	float: right;
	display: none;    
    color:#fff;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width:200px;
    background-color:rgba(49, 136, 114, 0.9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}
.sidebar ul li {
	padding:24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
    background-color: #155e63;
    font-weight: bold;
}
#check:checked ~ .sidebar {
	left: 0;
}
 .swiper-container {
    width: 100%;
    height: 350px;
    padding:20px;
    
}
.swiper-button-prev{
    color: #155e63 !important;
}
.swiper-button-next{
    color: #155e63 !important;
}
.swiper-slide img{
    width:100%;
    height:350px;
}
article{
    width:75%;
}
Article h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
    position: relative;
    font-size: 30px;
    color:#155e63;
}
Article h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #76b39d;
	left: calc(50% - 60px);
}
Article h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:5px;
	background-color: #155e63;
	left: calc(50% - 20px);
}

 #profile p {
     
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
    padding:10px;
       
}
#profile  img {
    float:left;
    margin: 0 auto;
	text-align: center;
    padding-left:10px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 100%;
}
.container {
    padding: 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:5px;    
    margin-top: 15px;
    margin-left: 15px;
    background-color: hsl(160, 20%, 88%);
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.column .box{
    float:left;
    text-align:center;
    width:25%;
    padding:10px;
    
}
.column .box p{
    margin-top:10px;
    font-size: 13px;
}
.column .box img{
    width:50px;
    margin-bottom: 10px;
}

@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	nav ul {
		display: none;
    }	
    .swiper-container {
        width: 100%;
        height: 350px;
        padding:20px;
        
    }
}

.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
