@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
*{
    font-family:'Quicksand',sans-serif;
    padding :0;
    margin:0;  
    box-sizing: border-box;
}

header{
    display:inline;
}
nav{       
    padding:12px 0;
    background-color:#76b39d;    
    width:100%;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);  
    position:sticky !important;
    top:0; 
    z-index: 99;
}
nav a{
    color:#fff;
    text-decoration: none;
}

 nav  a img{    
     display:inline-block;
     padding-left:60px;
     width:100px;
    
} nav ul {
    text-align:center;
    float: right;
    padding-right:80px;
   
}
nav ul li {
    display:inline-block;
}
nav ul li a{
    padding:12px 5px;
    display:inline-block;
}
nav ul li a:hover{
    border:none;
    border-radius:5px;
    font-weight: bold;
    Background-color:#155e63;
    color: #fff;
    transition: 0.3s ease;
}
 .mobile-menu {
    padding:5px;
    padding-right: 25px;
	float: right;
	display: none;    
    color:#fff;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width:200px;
    background-color:rgba(49, 136, 114, 0.9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}
.sidebar ul li {
	padding:24px;
	transition: .3s ease;
	transition-property: background-color;
}
.sidebar ul li:hover {
    background-color: #155e63;
    font-weight: bold;
}
#check:checked ~ .sidebar {
	left: 0;
}
 .swiper-container {
    width: 100%;
    height: 350px;
    padding:20px;
    
}
.swiper-button-prev{
    color: #155e63 !important;
}
.swiper-button-next{
    color: #155e63 !important;
}
.swiper-slide img{
    width:100%;
    height:350px;
}
article{
    
    width:100%;
    
}
Article h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
    position: relative;
    font-size: 30px;
    color:#155e63;
}
Article h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #76b39d;
	left: calc(50% - 60px);
}
Article h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:5px;
	background-color: #155e63;
	left: calc(50% - 20px);
}

 #profile p {
     
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
    padding:10px;
       
}
#profile  img {
    float:left;
    margin: 0 auto;
	text-align: center;
    padding-left:10px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 100%;
}
.container {
    padding: 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:5px;    
    margin:15px;
    background-color: hsl(160, 20%, 88%);
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.column .box{
    float:left;
    text-align:center;
    width:25%;
    padding:10px;
    
}
.column .box p{
    margin-top:10px;
    font-size: 13px;
}
.column .box img{
    width:50px;
    margin-bottom: 10px;
}
.column .box::after {
	content: '';
	display: block;
    clear: both;
}
 .baris {    
     margin-top:30px;
     margin-bottom: 10px;
	width:33.33%;
	box-sizing: border-box;
	padding:5px;    
    text-align: center;
    float:left;
	
}
.baris:hover{
    transition: 0.3s ease;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.baris img{
    width: 250px;
    height:200px;   
    clip-path: circle();
 }
 .baris img:hover{
    transform: scale(1.5);
    clip-path: none;  
    transition: 0.3s ease;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2); 
 }
 .baris h4{
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .baris ul{
     padding :10px;
     margin:0 auto;
     color:black;
     background-color: lightgrey;
     border-left: 10px solid #155e63;
     border-radius: 10px;
 }
.baris ul li {    
    list-style-type: none;
    text-align:center;
}
.baris::after{
    content: '';
	display: block;
    clear: left;
}

 #contact{
     width:75%;   
     float:left;    
     margin-top:-10px;      
 }
  .kotak{
      
	width:33.33%;
	padding:10px;    
    text-align: center;
    float:left;	
    margin-bottom:54.5px;
}

 .kotak h4{
    padding-bottom: 10px;
	text-align: center;
	margin:20px;
    position: relative;
    font-size: 20px;
    color:#155e63;  
}
.kotak p{
    margin-bottom: 10px;
    font-size: medium;
    color:black;
}
 .kotak .box{
    width:60%;
    margin:0 auto;
    
      margin-bottom: 10px;
      padding-bottom: 10px; 
       
     
}
 .kotak .box:hover{
    background-color: #76b39d;
    border-radius: 10px;
    transform: scale(1.5);
    font-weight: bold;
    transition: 0.3s ease-in-out;
    text-align: center;
    padding :5px;
}
 .box a{
    text-decoration: none;
    color:black;
    
}
 .box a:hover{
    color:whitesmoke;
}
 .kotak h4::after{
    content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:50px;
	height:2px;
	background-color: #155e63;
	left: calc(50% - 25px);
}
 .kotak img{
    width: 30%;
    margin:0 auto;
    padding:10px;
}
.kotak iframe{
    width:100%;
}
 .kotak::after{ 
    content: '';
	display: block;
    clear: left;
} 

aside{
    margin-top:-10px;
    float:right;
    width:25%;
    text-align: center;
}
aside img{
    width :180px;
    height:180px;
    border: 6px solid rgb(207, 206, 206,0.7);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    margin-bottom: 20px;
}
aside h3{
    font-weight: bold;
    padding-bottom: 10px;
	text-align: center;
	margin:20px;
    position: relative;
    font-size: 20px;
    color:#155e63;  
    
}
aside h3::after{
    content:'';
	display: block;
	position: absolute;
    bottom: -1px;
    
	width:50px;
	height:2px;
	background-color: #155e63;
	left: calc(50% - 25px);
}

aside table{
    margin-top:10px;
    margin-bottom:10px;
    text-align:justify;
    font-size:13px;
    font-weight: bold;
    background: honeydew;
    width:100%;
    border-radius:10px;
    border-left:5px solid #155e63;
}
aside table th{
    width: 25%;
}
aside .table, th, td {
    padding: 2px 2px;
    
}
aside table tr:hover{
    background-color:#76b39d;
}
aside table tr:nth-child(even){
    background-color: #fff;
}
aside h4{
    padding-bottom: 10px;
    text-align: center;
    margin-top:15px;	
    position: relative;
    font-size: 19px;
    color:#155e63; 
}
aside ul{
    list-style-type: none;
    text-align:center;
    
}
aside ul li {
    display: inline-block;
    
    padding:15px;
    
}
aside a{
    color: gray;
   
}
 i{
    font-size: 19px;
}
aside  .facebook:hover{
    color:#3b5998;
    transform: scale(2);
    transition: 0.3s ease-in-out;
    
}
aside  .instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
    
    transform: scale(2);
    transition: 0.3s ease-in-out;
}
aside  .linkedin:hover{
    color:#007bb5;
    transform: scale(2);
    transition: 0.3s ease-in-out;
    
}
aside  .github:hover{
    color:#000000;
    transform: scale(2);
    transition: 0.3s ease-in-out;
    
}
.contact aside::after{
    content:'';
    display: block;
    clear: left;
}

footer {
   
    padding: 15px;
    color: white;
    background-color: #155e63;
    text-align: center;
    font-weight: bold;
    
}
main{
    
    overflow:auto;
 
 }

 @media  screen and (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	nav ul {
		display: none;
    }	
    .swiper-container {
        width: 100%;
        height: 350px;
        padding:20px;
    }
    .column .box{       
        width:100%;     
     }
     .baris{
         width :100%;
     }
     article{
         width:100%;
         
     }
     #profile  img {
        width:300px;
        height:180px;
        justify-content: center;
        align-items: center;
        margin:0 auto;        
     }
     
    #contact {
        width:100%;
    }
    .kotak{
        width:100%;
        padding:0;
        margin:0;
    }
   aside{
       width:100%;
   }
   aside table{
       width:80%;
       justify-content: center;
       align-items: center;
       margin:0 auto;
   }

   footer{
       font-size: small;
   }
}



